@model lab1.Controllers.Person
@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Student</h3>
    </header>
    <img src="@Model.PhotoUrl" alt="Alternate Text" />
    <p>
        Contact Me.<br />
        Email: elvis.tran@hotmail.com
    </p>
    <p>
        Hello, My name is @Model.GivenNames @Model.LastName
        My Student ID is @Model.Id and I am @Model.Age years old.
    </p>
</section>